<div class="mt-{{include.mt}}">
    <h6 class="text-slate-800">Github Links</h6>
    <p class="ml-2 mt-2 text-sm">.net version: <a href="https://github.com/adrianoconnor/SmolScriptDotNet" class="text-blue-600 underline">SmolScriptDotNet</a></p>
    <p class="ml-2 mt-2 text-sm">Javascript version: <a href="https://github.com/adrianoconnor/SmolScriptJS" class="text-blue-600 underline">SmolScriptJS</a></p>

    <p class="ml-2 mt-4 text-sm"><a class="github-button" href="https://github.com/adrianoconnor" aria-label="Follow @adrianoconnor on GitHub">Follow @adrianoconnor</a></p>
</div>